.lazyload-container {
  height: 100%;
  overflow: hidden;
}

.blur-up {
  -webkit-filter: blur(40px);
          filter: blur(40px);
  -webkit-transition: -webkit-filter 800ms;
  transition: -webkit-filter 800ms;
  transition: filter 800ms;
  transition: filter 800ms, -webkit-filter 800ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
          filter: blur(0);
}
